* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI, Tahoma, Geneva, Verdana, sans-serif';
  background: #f1f5e0;
}

.section-center {
  width: 90vw;
  max-width: 1170px;
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-top: 5rem;
  font-size: 3.5rem;
  color: #326273;
}
.clock-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d5e1a3;
  padding: 2rem 3rem;
  border-radius: 0.7rem;
}
.break-session-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.session-container,
.break-container {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
  /* border: 5px solid #326273; */
  background: #b8cd65;
  padding: 0.7rem;
  border-radius: 0.7rem;
  width: 250px;
}
.container-title {
  font-size: 2rem;
  display: block;
  text-align: center;
  text-transform: capitalize;
}
.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem 0;
  font-size: 3rem;
}
.icon {
  color: #326273;
  cursor: pointer;
  margin: 0 1rem;
}
.display {
  background: #b8cd65;
  padding: 0.7rem;
  border-radius: 0.7rem;

  margin-top: 2rem;
  font-size: 2rem;
  text-align: center;
}

.control-btns {
  margin-top: 2rem;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
}
.danger {
  color: red;
}
#start_stop {
  font-size: 3rem;
  margin: 0 1rem;

  border: none;
  background: none;
}
